{% extends 'base.html' %}
{% block content %}
<div class="container-sm px-4">
    <form action="{% url 'user_login' %}" method ="post" class="d-flex flex-column general-form mx-auto">
        {% csrf_token %}
        {% if msg == 'not_logged_in' %}
            <h5 class="mb-4">Please login</h5>
        {% elif msg == 'login_failed' %}
            <h5 class="mb-4">Invalid login or password!! Please try again. </h5>
        {% endif %}
        
        <div class="mb-3 mt-10">
            <label for="username" class="form-label mt-10"> Username: </label>
            <input type="text" class="login-form-control" name ="username" placeholder="Enter Username">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label"> Password: </label>
            <input type="password" class="login-form-control" name ="password" placeholder="Enter Password">
        </div>
        <div class="mb-3">
            <input type="submit" value="Login" class="btn btn-outline-dark">
        </div>
    </form>
</div>

{% endblock %}