{% extends "base.html" %}
{% load crispy_forms_tags %}   

{% block content %}
    <div class="container" class="container-sm px-4">  
    {% if registered %}
    <div class="register_center"><h3 class="text-dark text-center">Thank you for registering!</h3></div>
    
    {% else %}
      <form enctype="multipart/form-data" method="POST" class="d-flex flex-column general-form mx-auto">
        <h5 class="mb-4">Please register</h5>
        {% csrf_token %}
        {{ regform.as_p }}
      
        <div class="mb-3">
          <input type="submit" value="Register" class="btn btn-outline-dark">
        </div>
      </form>
    {% endif %}
</div>
{% endblock %}