.register_center{
    text-align: center;
    
   

}

.errorlist li{
    list-style-type: none;
    color: red;
    font-size: 10px;
}

.helptext{
    color: grey;
    font-size: 10px;
}

.total_right{
    text-align: right;
}

.sum_right{
    text-align: right;
}